* {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

html, body, #app, #main-wrapper, #map-element {
    height: 100%;
}
/*
body {
    font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    font-size: 81.25%;
}
*/
.leaflet-popup {
    width: auto;
}
#menu-bar {
    margin: 0;
}
.menu-bar-element {
    background-color: white;
    padding: 10px 20px;
    margin-left: 10px;
    color: goldenrod;
}
.menu-bar-icon {
    cursor: pointer;
}
#my-location-icon:hover {
    color: gold;
}
