* {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

html, body, #app, #main-wrapper, #map-element {
    height: 100%;
}
/*
body {
    font-family: "Helvetica", "Arial", "Verdana", sans-serif;
    font-size: 81.25%;
}
*/
.leaflet-popup {
    width: auto;
}
.w3-check {
    top: 0 !important;
}

#menu-bar {
    margin: 0;
    border-spacing: 10px 0;
    border-collapse: separate;
}
.menu-bar-element {
    background-color: white;
    padding: 10px 20px;
    margin-left: 10px;
    color: goldenrod;
}
.menu-bar-icon {
    font-size: 24px !important;
}
.menu-bar-icon.link {
    cursor: pointer;
}
.menu-bar-element .active {
    color: gold;
}
#my-location-icon:active {
    color: gold;
}
#max-beer-price-slider {
    width: 200px;
    margin: 6px 20px 0 10px;
}
