* {
    margin: 0;
    padding: 0;
    vertical-align: top;
}

html, body, #app, #main-wrapper, #map-element, #map-wrapper {
    height: 100%;
}
#main-wrapper {
    width: 100%;
}
#map-wrapper {
    z-index: 1;
}
.icon {
    color: goldenrod;
}


/* DATORER/PADDOR */
@media (min-width: 602px) {
    #main-wrapper {
        display: flex;
        flex-direction: row;
    }
    #map-wrapper {
        flex: 1 0 auto;
    }
    #sidebar-container {
        height: 100%;
    }
    .icon.clickable:active {
        color: gold;
    }
}

