<!DOCTYPE html>
<html lang="sv">
    <head>
        <base href="{% url 'index' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Budgethak</title>
        <link rel="shortcut icon" href="/media/favicon.ico" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/MarkerCluster.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/markercluster.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-usermarker/leaflet.usermarker.css" />
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui-1.12.0.custom/jquery-ui.min.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" integrity="sha256-zV9aQFg2u+n7xs0FTQEhY0zGHSFlwgIu7pivQiwJ38E=" crossorigin="anonymous" />
        <link rel="stylesheet" href="//www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/main.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/mapview.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/menubarview.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/sidebarview.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}budgethak/css/modalview.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}ajaximage/css/bootstrap-progress.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}ajaximage/css/styles.css" />
    </head>
    <body>
        <script id="autocomplete-item" type="text/template">
            <li>
                <div class="w3-container">
                    <p class="autocomplete-name w3-medium"><%- name %></p>
                    <p class="autocomplete-address w3-small"><%- street_address %>, <%- city %></p>
                </div>
            </li>
        </script>

        <script id="menu-bar" type="text/template">
            {% include "budgethak/menu-bar.html" %}
        </script>

        <script id="place-text" type="text/template">
            {% include "budgethak/place-text.html" %}
        </script>

        <script id="place-add" type="text/template">
            {% include "budgethak/place-add.html" %}
        </script>

        <script id="place-edit" type="text/template">
            {% include "budgethak/place-update.html" %}
        </script>

        <script id="info-text" type="text/template">
            {% include "budgethak/info-text.html" %}
        </script>

        <script id="modal" type="text/template">
            <div class="w3-modal-content">
                <div class="w3-container">
                    <span class="w3-button w3-display-topright" id="close-modal"><i class="fas fa-times"></i></span>
                    <div id="modal-content"><%= content %></div>
                </div>
            </div>
        </script>

        <script id="thank-you-text" type="text/template">
            <p><strong>Tack för ditt bidrag!</strong></p>
            <p>Det är nu inskickat till admin för kontroll.</p>
        </script>

        <script id="app-template" type="text/template">
            <div id="main-wrapper">
                <div id="map-element"></div>
                <div id="sidebar-container" class="w3-card-8"></div>
                <div id="modal-container"></div>
            </div>
        </script>

        <section id="app"></section>

        <script>
            budgethak = {};
            budgethak.weekdays = ['Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag', 'Söndag'];
            {% autoescape off %}
            budgethak.bootstrap = {{ places }};
            {% endautoescape %}
        </script>
        <script src="{{ STATIC_URL }}budgethak/js/bundle.js"></script>
        {% csrf_token %}
    </body>
</html>
