{% extends "budgethak/sidebar-base.html" %}

{% block title %}Vad?{% endblock %}

{% block content %}
<p>
    Detta är en tjänst för att enkelt hitta billig öl. Kriteriet är <strong>minst 40 för max 40</strong>, d.v.s.
    man ska, någon gång under dygnet, kunna få minst 40 cl starköl för max 40 kr.
</p>
<h3>Vem?</h3>
<p>
    Jag som byggt detta heter <a href="http://robert.huseli.us/">Robert Huselius</a>.
</p>
<h3>Hur?</h3>
<p>
    Denna sajt använder <a href="https://www.djangoproject.com/">Django</a>, 
    <a href="http://www.django-rest-framework.org/">Django REST framework</a>, 
    <a href="http://backbonejs.org/">Backbone.js</a>, 
    <a href="http://underscorejs.org/">Underscore.js</a>, 
    <a href="http://www.requirejs.org/">Requirejs</a>, 
    <a href="http://www.w3schools.com/w3css/default.asp">W3.CSS</a>, 
    <a href="http://leafletjs.com/">Leaflet</a>, 
    <a href="http://www.openstreetmap.org/">Openstreetmap</a>,
    <a href="http://jquery.com/">Jquery</a> 
    och lite till.
</p>
<h3>Varför?</h3>
<p>
    För att jag älskar billig öl och programmering.
</p>
<h3>
    <img style="width:50%;" class="w3-round w3-card-4" src="{{ MEDIA_URL }}Robert.jpg" />
</h3>
{% endblock content %}
