<div class="w3-container w3-padding-0">
    <table id="sidebar-header">
        <tr>
            <td><h3 class="w3-left"><%- name %></h3></td>
            <td>
                <div class="w3-right" id="sidebar-icons">
                    <i class="fas fa-map-marker-alt icon clickable sidebar-icon" id="place-map-marker" title="Visa plats på kartan" />
                    <i class="fas fa-edit icon clickable sidebar-icon" id="edit-place-icon" title="Uppdatera platsinfo" />
                    <i class="fas fa-times icon clickable sidebar-icon" id="close-sidebar-button" title="Stäng" />
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="sidebar-block-1">
    <% if (image != '') { %>
        <p>
            <img src="{{ MEDIA_URL }}<%= image %>" class="place-image w3-round w3-card-4" />
        </p>
    <% } %>
    <div class="w3-container w3-padding-0">
        <p><%- street_address %>, <%- city %></p>
        <p>
            Ölpris: <% print (beer_price ? beer_price+" kr" : "Okänt"); %>
            <% print (beer_price_until ? " (t.o.m. "+beer_price_until+")" : ""); %>
        </p>
        <p>
            Uteservering: 
            <% if (true == uteservering) { %>
                <strong class="w3-text-green">JA</strong>
            <% } else if (false == uteservering) { %>
                <strong class="w3-text-red">NEJ</strong>
            <% } %>
        </p>
    </div>
</div>
<div id="sidebar-block-2">
    <% if (opening_hours.length > 0) { %>
    <h5 class="opening-hours-headline">Öppettider</h5>
    <table class="opening-hours-table">
    <% _.each(opening_hours, function(elem) { %>
    <tr>
        <td>
            <%- budgethak.weekdays[elem.start_weekday] %>
            <% if (elem.end_weekday != elem.start_weekday) { %>
            - <%- budgethak.weekdays[elem.end_weekday].toLowerCase() %>
            <% } %>
        </td>
        <% if (elem.closed_entire_day) { %>
        <td colspan="2">Stängt</td>
        <% } else { %>
        <td>
            <% print(elem.opening_time || '00:00'); %>
        </td>
        <td>
            - <% print(elem.closing_time || '00:00'); %>
        </td>
        <% } %>
    </tr>
    <% }); %>
    </table>
    <% if (open_now === true) { %>
        <p class="w3-text-green"><strong>Öppet just nu \o/</strong></p>
    <% } else if (open_now === false) { %>
        <p class="w3-text-red"><strong>Stängt just nu :-(</strong></p>
    <% } %>
    <% } %> <!-- opening_hours -->
    <% if (comment != '') { %>
    <h5>Övrigt</h5>
    <p><%- comment %></p>
    <% } %>
</div>
