#sidebar-container {
    /*display: none;*/
    z-index: 1000;
    overflow: hidden;
}
#sidebar-element {
    padding-bottom: 16px;
}
.place-image {
    width: 100%;
    margin-bottom: 10px;
}
#place-map-marker,
#close-sidebar-button {
    cursor: pointer;
}
#place-map-marker {
    vertical-align: baseline;
    margin-right: 10px;
}
#close-sidebar-button {
    vertical-align: baseline;
}
.opening-hours-table {
    width: auto;
    margin-bottom: 10px;
}
.opening-hours-table tr {
}
.opening-hours-table td {
    padding: 6px 0.3em 0 0;
}


/* DATORER */
@media (min-width: 992px) {
    #sidebar-container {
        width: 0;
        max-width: 425px;
    }
    #sidebar-container.transition {
        transition: width 0.2s;
    }
    #sidebar-container.open,
    #sidebar-element {
        width: 425px;
    }
}

/* MOBILER */
@media (max-width: 601px) {
    #sidebar-container.transition {
        transition: left 0.2s;
    }
    #sidebar-container {
        left: 102%; /* Är det bara 100% så ser man skuggan */
        top: -98%;
        width: 96%;
        max-height: 96%;
        background-color: white;
        overflow-y: scroll;
        position: relative;
    }
    #sidebar-container.open {
        left: 2%;
    }
}
/* MOBILER, LIGGANDE */
@media (max-width: 601px) and (orientation: landscape) {
    #sidebar-block-1 {
        width: 50%;
        float: left;
        margin-right: 16px;
    }
    #sidebar-block-2 {
        float: left;
    }
    .opening-hours-headline {
        margin-top: 0;
    }
} 
