<!DOCTYPE html>
<html lang="sv">
    <head>
<!--        <base href="http://127.0.0.1:8000/">-->
        <base href="{% url 'index' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sunkhak</title>
        <link rel="stylesheet" href="//www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-rc.1/leaflet.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-usermarker/leaflet.usermarker.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/jquery-ui-1.12.0.custom/jquery-ui.min.css" />
    </head>
    <body>
        <section id="app">
            <div id="main-wrapper">
                <div id="map-element"></div>
            </div>
            <div id="message-console"></div>
        </section>
        <script id="menuBar" type="text/template">
            <div id="menu-bar-container" class="w3-card-4">
                <div class="w3-container w3-left menu-bar-element w3-hide-medium w3-hide-large">
                    <i class="fa fa-bars menu-bar-icon link" id="mobile-menu-button"></i>
                </div>
                <div class="w3-row menu-bar-row">
                    <div class="w3-container w3-card-4 w3-left menu-bar-element">
                        <i class="fa fa-location-arrow menu-bar-icon link" id="my-location-icon" title="Gå till min position"></i>
                    </div>
                    <div class="w3-container w3-card-4 w3-left menu-bar-element">
                        <i class="fa fa-clock-o menu-bar-icon link" id="filter-closed-places-icon" title="Dölj stängda platser"></i>
                    </div>
                </div>
                <div class="w3-row menu-bar-row" id="max-beer-price-row">
                    <div class="w3-container w3-card-4 w3-left menu-bar-element" id="max-beer-price-element">
                        <i class="fa fa-money menu-bar-icon w3-left" title="Max ölpris"></i>
                        <div id="max-beer-price-slider" class="w3-left w3-large"></div>
                        <p class="w3-left w3-large"><span id="max-beer-price"><%= max_beer_price %></span> kr</p>
                    </div>
                </div>
            </div>
        </script>
        <script id="placePopupText" type="text/template">
            <div class="place-popup">
                <p><strong><%- name %></strong></p>
                <p><%- street_address %>, <%- city %></p>
                <p>
                    Ölpris: <% print (beer_price ? beer_price+" kr" : "Okänt"); %>
                    <% print (beer_price_until ? " (t.o.m. "+beer_price_until+")" : ""); %>
                </p>
                <% if (image != '') { %>
                    <p>
                        <img src="{{ MEDIA_URL }}<%= image %>" class="place-popup-image" />
                    </p>
                <% } %>
            </div>
        </script>

        <script data-main="{{ STATIC_URL }}js/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
    </body>
</html>