<!DOCTYPE html>
<html lang="sv">
    <head>
        <base href="http://127.0.0.1:8000/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sunkhak</title>
        <link rel="stylesheet" href="//www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-rc.1/leaflet.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0-rc.1.0/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}lib/leaflet-usermarker/leaflet.usermarker.css" />
    </head>
    <body>
        <section id="app">
            <div id="main-wrapper">
                <div id="map-element"></div>
            </div>
            <div id="message-console"></div>
        </section>
        <script id="placePopupText" type="text/template">
            <div class="place-popup">
                <p><strong><%- name %></strong></p>
                <p><%- street_address %>, <%- city %></p>
                <p>
                    Ölpris: <% print (beer_price ? beer_price+" kr" : "Okänt"); %>
                    <% print (beer_price_until ? " (t.o.m. "+beer_price_until+")" : ""); %>
                </p>
                <% if (image != '') { %>
                    <p>
                        <img src="{{ MEDIA_URL }}<%= image %>" class="place-popup-image" />
                    </p>
                <% } %>
            </div>
        </script>

        <script data-main="{{ STATIC_URL }}js/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js"></script>
    </body>
</html>