#sidebar-container {
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;  /* eller visible? */
}
#sidebar-container #sidebar-element {
    padding-bottom: 16px;
}
#sidebar-container .place-edit {
    display: none;
}
#sidebar-container #sidebar-header {
    width: 100%;
}
#sidebar-container #sidebar-header td {
    vertical-align: top;
}
#sidebar-container #sidebar-icons {
    white-space: nowrap;
}
#sidebar-container .sidebar-icon {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}
#sidebar-container .place-image {
    width: 100%;
    margin-bottom: 10px;
}
#sidebar-container .opening-hours-table {
    width: auto;
    margin-bottom: 10px;
}
#sidebar-container .opening-hours-table input.timepicker {
    width: 5em;
}
#sidebar-container .opening-hours-table td {
    padding: 6px 0.3em 0 0;
}
#sidebar-container .submit {
    background-color: goldenrod;
}
#sidebar-container .error-message {
    color: red;
    font-style: italic;
}


/* DATORER */
@media (min-width: 992px) {
    #sidebar-container {
        width: 0;
        max-width: 425px;
    }
    #sidebar-container.transition {
        transition: width 0.2s;
    }
    #sidebar-container.open,
    #sidebar-container #sidebar-element {
        width: 425px;
    }
}

/* MOBILER */
@media (max-width: 601px) {
    #sidebar-container.transition {
        transition: left 0.2s;
    }
    #sidebar-container {
        left: 102%; /* Är det bara 100% så ser man skuggan */
        top: -98%;
        width: 96%;
        max-height: 96%;
        background-color: white;
        overflow-y: scroll;
        position: relative;
    }
    #sidebar-container.open {
        left: 2%;
    }
}
/* MOBILER, LIGGANDE */
@media (max-width: 601px) and (orientation: landscape) {
    #sidebar-container #sidebar-block-1 {
        width: 50%;
        float: left;
        margin-right: 16px;
    }
    #sidebar-container #sidebar-block-2 {
        float: left;
    }
    #sidebar-container .opening-hours-headline {
        margin-top: 0;
    }
} 
